@import "../../index";

// Small screen media of 600 ($small)
@media screen and (max-width: $small) {
    
    main {
        // background-color: $primary-color;
        @include mobile-center;
        
        // section setup for mobile-view
        section {
            width: 95%;        
            margin: 15px;
    
            .picture-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    height: 550px;
                    width: 500px;
                }
    
                .picture-info {
        
                    .description {
                        background-color: $primary-color;
                        font-size: 20px;
                        text-align: center;
               
                    }
                }
            }
        }    
    }
}
