@import "../defaults/breakpoints";
@import "../defaults/colors";
@import "../defaults/ulti";

// Creating footer styling base for pages
footer {
    @include background-main();
    display: flex;
    flex-direction: column;

    // Links to Github and LinkedIn accounts
    .social-links {
        background-color: $secondary-color;
        width: 50%;
        height: 45%;
        display: flex;
        justify-content: space-around;
        align-self: center;
        font-size: 24px;
        padding-top: 6px;
    }
}