// Used for Header and footer
@mixin background-main() {
    background-color: $primary-background;
    height: 80px;
}

// 
@mixin home-mobile() {
    
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;

   img {
    width: 400px;
    height: 300px;
   }
}

// Alignment setting for centering
@mixin mobile-center() {
    display: flex;
    justify-content: center;
}